ul {
  list-style: none;
}

.article-shop {
  padding: 30px var(--block-padding-leftRight);
}

.banner-shop {
  position: relative;
  width: 100%;
}
.banner-shop__banner-wrap {
  width: 100%;
}
.banner-shop__img {
  width: 100%;
}
.banner-shop__shops {
  position: absolute;
  bottom: 40px;
  left: 40px;
}

.shops {
  background-color: #231f20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 350px;
  padding: 50px 40px;
  outline: rgb(166, 166, 166) 1px solid;
  outline-offset: -20px;
  color: white;
}
.shops__line {
  width: 100px;
  height: 2px;
  background-color: rgb(166, 166, 166);
}
.shops__h2 {
  text-transform: uppercase;
  font-size: 25px;
}
.shops__info {
  text-align: center;
  font-size: 18px;
  line-height: 30px;
}
.shops__button {
  background-color: inherit;
  border: 1px white solid;
  padding: 10px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: white;
  font-weight: 700;
  font-size: 17px;
  text-transform: uppercase;
}
.shops__button:hover {
  cursor: pointer;
  background-color: #474041;
}

footer {
  background-color: #191c23;
  padding: 50px var(--block-padding-leftRight);
  color: white;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.footer > * {
  width: 20%;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.social__welcome {
  margin-bottom: 10px;
  font-size: 16px;
}
.social__phone-main {
  color: white;
  font-size: 30px;
  font-weight: 700;
}
.social__phone-second {
  color: white;
  font-size: 25px;
  font-weight: 700;
}
.social__link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.social__item {
  cursor: pointer;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.744);
}
.social__item:hover {
  border: 1px solid rgb(255, 255, 255);
}
.social__item svg {
  fill: rgba(255, 255, 255, 0.744);
  width: 30px;
  height: 30px;
}
.social__item:hover svg {
  fill: white;
}
.social__link, .social__phone-main {
  margin-bottom: 30px;
}

.block-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
}
.block-links__header {
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.block-links__link {
  color: rgba(255, 255, 255, 0.642);
  transition: 0.3s;
  font-size: 18px;
}
.block-links__link--yellow {
  color: rgba(255, 255, 0, 0.742);
}
.block-links__link:hover {
  color: white;
}

.payments__header {
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.payments__header:first-of-type {
  margin-bottom: 30px;
}
.payments__store {
  margin-bottom: 20px;
}
.payments__payment-methods {
  margin-bottom: 10px;
}

.payment-methods__img-wrap {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
}
.payment-methods__info {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.642);
}

.app-store {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.app-store__img {
  width: 180px;
}

.footer__about {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 30px;
}
.footer__about h1 {
  font-size: 18px;
}
.footer__about a {
  color: rgba(255, 255, 255, 0.642);
}/*# sourceMappingURL=shop_footer.css.map */