ul {
    list-style: none;
}

.article-shop {
    padding: 30px var(--block-padding-leftRight);
}

.banner-shop {
    position: relative;
    width: 100%;

    &__banner-wrap {
        width: 100%;
    }

    &__img {
        width: 100%;
    }
    
    &__shops {
        position: absolute;
        bottom: 40px;
        left: 40px;
    }
}

.shops {
    background-color: #231f20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    width: 350px;
    padding: 50px 40px;

    outline: rgb(166, 166, 166) 1px solid;
    outline-offset: -20px;

    color: white;

    &__line {
        width: 100px;
        height: 2px;
        background-color: rgb(166, 166, 166);
    }

    &__h2 {
        text-transform: uppercase;
        font-size: 25px;
    }

    &__info {
        text-align: center;
        font-size: 18px;
        line-height: 30px;
    }

    &__button {
        background-color: inherit;
        border: 1px white solid;
        padding: 10px 40px;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;

        color: white;
        font-weight: 700;
        font-size: 17px;
        text-transform: uppercase;
    }

    &__button:hover {
        cursor: pointer;
        background-color: #474041;
    }
}


footer {
    background-color: #191c23;
    padding: 50px var(--block-padding-leftRight);
    color: white;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    & > * {
        width: 20%;
    }
}


.social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__welcome {
        margin-bottom: 10px;
        font-size: 16px;
    }

    &__phone-main {
        color: white;
        font-size: 30px;
        font-weight: 700;
    }

    &__phone-second {
        color: white;
        font-size: 25px;
        font-weight: 700;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
    }

    &__item {
        cursor: pointer;
        padding: 10px;
        border: 1px solid rgba(255, 255, 255, 0.744);

        &:hover {
            border: 1px solid rgb(255, 255, 255);
        }

        svg {
            fill: rgba(255, 255, 255, 0.744);
            width: 30px;
            height: 30px;
        }

        &:hover svg {
            fill: white;
        }
    }
    
    &__link,
    &__phone-main {
        margin-bottom: 30px;
    }
}

.block-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;

    &__header {
        color: white;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    &__link {
        color: rgba(255, 255, 255, 0.642);
        transition: 0.3s;
        font-size: 18px;

        &--yellow {
            color: rgba(255, 255, 0, 0.742);
        }
    }

    &__link:hover {
        color: white;
    }
}

.payments {
    &__header {
        color: white;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    &__header:first-of-type {
        margin-bottom: 30px;
    }

    &__store {
        margin-bottom: 20px;
    }

    &__payment-methods {
        margin-bottom: 10px;
    }
}

.payment-methods {
    &__img-wrap {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 5px;
    }

    &__info {
        font-size: 15px;
        color: rgba(255, 255, 255, 0.642);
    }
}

.app-store {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    &__img {
        width: 180px;
    }
}

.footer__about {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 30px;

    h1 {
        font-size: 18px;
    }

    a {
        color: rgba(255, 255, 255, 0.642);
    }
}