@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --bg-gray: #f1f1f1;
    --color-gray: #868686;
    --color-a-hover: #0a5c3d;
    --block-padding-leftRight: 70px;

    --size-buttons: 30px;
    --color-buttons: white;

    --size-card-eye: 20px;
}


* {
    padding: 0;
    margin: 0;
}


a {
    text-decoration: none;
    color: black;
}


body {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

/* first_line */
.first_line {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px 70px;
    background-color: var(--bg-gray);

    font-size: 14px;
}

.location img {
    width: 20px;
}

.location {
    gap: 10px;
    color: var(--color-gray);
} 

.location span {
    color: black;
}

.location,
.first_line__nav,
.numbers {
    display: flex;
    justify-content: center;
    align-items: center;
}

.first_line__nav {
    gap: 20px;
}

.first_line__nav a {
    color: var(--color-gray);
}

.first_line__nav a:hover {
    color: var(--color-a-hover);
}

.numbers {
    gap: 20px;
}

.numbers {
    font-size: 14px;
}

.first_line .text_red {
    color: red;
}


/* .header - вторая линия в шапке*/
.header {
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.103);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px var(--block-padding-leftRight);
}

.burger_menu {

    cursor: pointer;

    width: 30px;
    height: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.burger_menu span {
    border-radius: 2px;
    width: 100%;
    height: 3px;
    background-color: black;
}

.header .logo {
    /* transform: translateX(-40px); */
    margin-left: -40px;
}

.header .logo a {
    display: flex;
    align-content: center;
    justify-content: center;
}



.header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header nav a {
    color: black;
}

.header nav a:hover {
    color: var(--color-gray);
}



.header .search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .search > * {
    background-color: rgb(233, 233, 233);
    border: 1px solid rgb(195, 195, 195);    
}

.header .search:hover > * {
    /* border: 1px solid black;   */
    border-color: black;
}

/* .header .search:hover > input {
    border-right: none;  
} */


.header .search .lupa {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 4px;
    cursor: pointer;
}

.header .search input {
    width: 300px;
    padding: 8px;
    border-right: none;
}

.header .search input:focus {
    outline: none;
}

.header .user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header .user img {
    width: 20px;
}

.header .user img:hover {
    opacity: 0.5;
}



/* gallery */
.gallery {
    padding: 0 var(--block-padding-leftRight);

    --gap: 10px;
}

.gallery img {
    width: 100%;
}

.gallery__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
}

.gallery__menu .banner {
    cursor: pointer;
    width: 64%;
    position: relative;
    /* height: 36%; */
}

/* шарики для навигации */
.banner__navigator {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.navigator_dotted {
    --size-dot: 4px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.navigator_dotted > * {
    border-radius: 50%;
    background-color: black;
    width: var(--size-dot);
    height: var(--size-dot);

    cursor: pointer;
}

.navigator_dotted .active {
    border: 2px solid black;
    background-color: white;
}

/* стрелки влево/вправо */
.banner__buttons {
    position: absolute;
    right: 20px;
    bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.button_left,
.button_right {

    cursor: pointer;

    width: var(--size-buttons);
    height: var(--size-buttons);

    background-color: var(--color-buttons);
    border-radius: 50%;
    border: none;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.454);

    display: flex;
    justify-content: center;
    align-items: center;
}

.button_left {
    rotate: 180deg;
}

.button_left img,
.button_right img {
    width: 15px;
}

.button_left:hover,
.button_right:hover {
    background-color: rgb(174, 174, 174);
}



.gallery__menu .menu_list {
    width: calc(36% - var(--gap));

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: var(--gap);
}

.gallery__menu .menu_item {
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.gallery__menu .menu_item:hover img {
    scale: 1.1;
    transition: 0.3s;
}

.gallery__menu .menu_item p {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;

    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 700;
}



/* brends-carusel */
.brends-carusel {
    padding: 30px var(--block-padding-leftRight);
}

.brends-carusel .navigate {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.brends-carusel .button_left,
.brends-carusel .button_right {
    box-shadow: none;
}

/* отлкючить смену цвета при hover */
.brends-carusel .button_left:hover,
.brends-carusel .button_right:hover {
    background-color: inherit;
}

.brends-carusel .brends {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    overflow: hidden;

    margin-bottom: 30px;
}

.brends-carusel .brends a {
    border: 1px rgba(128, 128, 128, 0.196) solid;
}

.brends-carusel .brends a:hover {
    border: 1px black solid;
    transition: .3s;
}

.brends-carusel .brends img {
    width: 128px;
}






/* new-items  -- новинки */
.new-items {
    padding: 30px var(--block-padding-leftRight);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.new-items h2 {
    font-size: 30px;
}

.new-items > a {
    color: rgb(41, 41, 41);
}

.new-items > a:hover {
    color: rgb(79, 79, 79);
}

.new-items .items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


/* карточка с товаром */
.card {
    width: calc(20% - 10px);
}

.card:hover {
    box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.142);
}

.card .img {
    position: relative;
    margin-bottom: 10px;
}

.card .img img {
    width: 100%;
}

.card .heart {
    position: absolute;
    top: 20px;
    right: 20px;

    opacity: 0;
}

.card .heart:hover {
    scale: 1.1;
}

.card:hover .heart {
    opacity: 1;
}



.card .info {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-bottom: 10px;
}

.card .info p {
    color: var(--color-gray);
}

.card .info .price {
    color: black;
    font-size: 20px;
    font-weight: 700;
}

.card .info .size {
    font-size: 12px;
    opacity: 0;
}

.card:hover .size {
    opacity: 1;
}



.card .eye {
    position: absolute;
    bottom: 15px;
    right: 15px;

    content: url(img/24-eye.svg);
    background-color: white;

    width: var(--size-card-eye);
    height: var(--size-card-eye);
    padding: 5px;

    border-radius: 50%;
    box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.142);
}

.card .eye:hover {
    background-color: black;
    content: url(img/24-eye-hover.svg);
}

