
.brends {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    overflow: hidden;

    margin-bottom: 30px;

    img {
        width: 128px;
    }

    &__item {
        cursor: pointer;
        border: 1px rgba(128, 128, 128, 0.196) solid;

        &:hover {
            border: 1px black solid;
            transition: .3s;
        }
    }
}

