.header-main {
    padding: 20px var(--section-padding-x);

    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.103);

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        margin-left: -100px;
    }
}

