.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    &__item {
        color: var(--color-gray);

        &:hover {
            color: var(--color-a-hover);
        }
    }

    &__item--red {
        color: red;
    }
}