.search {
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover > * {
        /* border: 1px solid black;   */
        border-color: black;
    }

    & > * {
        background-color: rgb(233, 233, 233);
        border: 1px solid rgb(195, 195, 195);    
    }

    &__input {
        width: 300px;
        padding: 12px;
        border-right: none;

        &:focus {
            outline: none;
        }
    }


    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
    
        padding: 8px;
        cursor: pointer;
    }
}